<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Management System</title>
    <link rel="stylesheet" href="pagestyle.css">

</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="nest.png" alt="The Nest Logo" height="59px">The Nest Hostel
    </div>

</nav>

<div class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Hostel Management System</h1>
        <p class="hero-description">Manage Students, Rooms, Fees, Complaints, and Events Effortlessly</p>
        <a href="/login" class="get-started-btn">Sign In</a>
    </div>

</div>

</body>
</html>